.footerContainer {
  min-height: 70vh;
  width: 100%;
  background-color: rgb(0, 0, 141);
  padding: 20px 150px;
  color: #fff;
}

.footerContainer img {
  width: 250px;
  height: 75px;
}

.footerContainer ul {
  margin: 0px 20px;
}

.footerContainer ul li {
  margin: 20px 0px;
  cursor: pointer;
}

.footerContainer ul li input {
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 20px;

  width: 250px;
}

.footerContainer p {
    font-size: 10px;
    text-align: center;
    cursor: default;
}

@media screen and (max-width: 800px) {
  .footerContainer {
    padding: 20px 50px;
  }
}

@media screen and (max-width: 600px) {
  .footerContainer {
    padding: 20px;
  }
}
